<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mindtwister.mindtwister">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".InstructionsActivity" />
        <activity android:name=".PlayMenuActivity" />
        <activity
            android:name=".RainbowMatrixActivity"
            android:label="Rainbow Matrix" />
        <!-- default code -->
        <!-- android:allowBackup="true" -->
        <!-- android:icon="@mipmap/ic_launcher" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:supportsRtl="true" -->
        <!-- android:theme="@style/AppTheme"> -->
        <!-- <activity android:name=".MainActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity android:name=".activity_memory_matrixs_33" />
        <activity android:name=".activity_memory_matrixs_34" />
        <activity android:name=".activity_memory_matrixs_44" />
        <activity android:name=".activity_memory_matrixs_45" />
        <activity android:name=".activity_memory_matrixs_55" />
        <activity android:name=".activity_memory_matrixs_56" />
        <activity android:name=".activity_memory_matrixs_66" />
    </application>

</manifest>