<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mindtwister.mindtwister">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/login_activity" />
        <activity
            android:name=".RegistrationActivity"
            android:label="@string/registration_activity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".AboutActivity"
            android:label="@string/about_activity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_activity" />
        <activity
            android:name=".InstructionsActivity"
            android:label="@string/instructions_activity" />
        <activity
            android:name=".PlayMenuActivity"
            android:label="@string/main_menu" />
        <activity
            android:name=".RainbowMatrixActivity"
            android:label="Rainbow Matrix" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:label="@string/privacy_policy" />
        <activity
            android:name=".FeedbackActivity"
            android:label="@string/feedback" />
        <activity
            android:name=".CreditsActivity"
            android:label="@string/credits_text" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/profile" />
        <activity
            android:name=".Memorymatrix_instructionActivity"
            android:label="@string/memory_matrix" />
        <activity
            android:name=".Rainbowmatrix_instruction_Activity"
            android:label="@string/rainbow_matrix" />
        <activity
            android:name=".Sudoku_instructionActivity"
            android:label="@string/sudoku" />
        <!-- default code -->
        <!-- android:allowBackup="true" -->
        <!-- android:icon="@mipmap/ic_launcher" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:supportsRtl="true" -->
        <!-- android:theme="@style/AppTheme"> -->
        <!-- <activity android:name=".MainActivity"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".MemoryMatrix33Activity"
            android:label="@string/memory_matrix" />
        <activity
            android:name=".MemoryMatrix34Activity"
            android:label="@string/memory_matrix" />
        <activity
            android:name=".MemoryMatrix44Activity"
            android:label="@string/memory_matrix" />
        <activity
            android:name=".MemoryMatrix45Activity"
            android:label="@string/memory_matrix" />
        <activity
            android:name=".MemoryMatrix55Activity"
            android:label="@string/memory_matrix" />
        <activity
            android:name=".MemoryMatrix56Activity"
            android:label="@string/memory_matrix" />
        <activity
            android:name=".MemoryMatrix66Activity"
            android:label="@string/memory_matrix" />
    </application>

</manifest>