<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mindtwister.mindtwister">

    <application
        android:name=".generallayouts.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".loginregister.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".loginregister.LoginActivity"
            android:label="@string/login_activity" />
        <activity
            android:name=".loginregister.RegistrationActivity"
            android:label="@string/registration_activity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".generallayouts.AboutActivity"
            android:label="@string/about_activity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_activity" />
        <activity
            android:name=".InstructionsActivity"
            android:label="@string/instructions_activity" />
        <activity
            android:name=".PlayMenuActivity"
            android:label="@string/choose_game" />
        <activity
            android:name=".rainbowmatrix.RainbowMatrixActivity"
            android:label="Rainbow Matrix" />
        <activity
            android:name=".generallayouts.PrivacyPolicyActivity"
            android:label="@string/privacy_policy" />
        <activity
            android:name=".generallayouts.FeedbackActivity"
            android:label="@string/feedback" />
        <activity
            android:name=".generallayouts.CreditsActivity"
            android:label="@string/credits_text" />
        <activity
            android:name=".generallayouts.ProfileActivity"
            android:label="@string/profile"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".memorymatrix.Memorymatrix_instructionActivity"
            android:label="@string/memory_matrix"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".rainbowmatrix.Rainbowmatrix_instruction_Activity"
            android:label="@string/rainbow_matrix"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".sudoku.Sudoku_instructionActivity"
            android:label="@string/sudoku" />
        <activity
            android:name=".memorymatrix.MemoryMatrix33Activity"
            android:label="@string/memory_matrix"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".memorymatrix.MemoryMatrix34Activity"
            android:label="@string/memory_matrix" />
        <activity
            android:name=".memorymatrix.MemoryMatrix44Activity"
            android:label="@string/memory_matrix" />
        <activity
            android:name=".memorymatrix.MemoryMatrix45Activity"
            android:label="@string/memory_matrix" />
        <activity
            android:name=".memorymatrix.MemoryMatrix55Activity"
            android:label="@string/memory_matrix" />
        <activity
            android:name=".memorymatrix.MemoryMatrix56Activity"
            android:label="@string/memory_matrix" />
        <activity
            android:name=".memorymatrix.MemoryMatrix66Activity"
            android:label="@string/memory_matrix" />
        <activity
            android:name=".sudoku.SudokuActivity"
            android:label="@string/sudoku" />
        <activity
            android:name=".DIfficultyLevelActivity"
            android:label="@string/select_difficulty" />
        <activity
            android:name=".GameOverActivity"
            android:label="@string/game_over" />
        <activity
            android:name=".ListViewActivity"
            android:label="@string/high_score" />
        <activity
            android:name=".viewHighScoresSelector"
            android:label="@string/high_score"></activity>
    </application>

</manifest>